@CHARSET "UTF-8";
/*生机主题Shin2015729*/
/*注册登录*/
.login { background:url(../img/logingreen.jpg) no-repeat center center fixed;}
.login .container-full .login-box{top:150px}
.login .container-full .login-box .login-box-bg { background: rgba(228, 245, 101, 0.15);border-radius: 20px;}/*-webkit-filter:blur(npx)*/
.login .container-full .login-box .login-box-bg .login-box-con .login-box-form .btn {color: #fff;background-color: transparent ;border-color:  #8bca31;}
.login .container-full .login-box .login-box-bg .login-box-con .login-box-form .stat a {color:#46bb60;text-shadow: black 1px 1px 1px;}
.login .container-full .login-box .login-box-bg .login-box-con .login-box-form .copy a {color: rgb(255, 255, 255);text-shadow: black 1px 1px 1px;}

/*Top styles*/
.top .navbar .navbar-inner .container .logo { background: url(../img/logoWH.png) center no-repeat;}
.top .navbar .navbar-inner .container { padding-right: 15px;padding-left: 8px;}
/*@media  适配预留*/
.top .navbar .navbar-inner {background:url(..)no-repeat 70% center;background-color: #8bca31;}
.top .navbar .navbar-inner {border-bottom: 0px solid #054C99;}   /*主菜单底部阴影，扁平化风格无*/

/*Main styles*/
.main .left  {background-color: #46bb60; border-right: #ddd 0px solid;}
.main .left ul.menu-group li.active {background-color: white;-moz-border-radius: 17px 0 0 17px; -webkit-border-radius: 17px 0 0 17px; border-radius: 17px 0 0 17px;}  
.main .left ul.menu-group li.active a {background-color: white; border-left: #ddd 0px solid;border-top: #ddd 0px solid;border-bottom: #ddd 0px solid;border-right: white 0px solid; -moz-border-radius: 17px 0 0 17px; -webkit-border-radius: 17px 0 0 17px; border-radius: 17px 0 0 17px;}
.main .left ul.menu-group li a:hover {background-color: white; -moz-border-radius: 17px 0 0 17px; -webkit-border-radius: 17px 0 0 17px; border-radius: 17px 0 0 17px;border-right: white 1px solid;}
.main .left ul.menu-group li:hover {background-color:transparent; border-right: white 1px solid;}
.main .left ul.menu-group li {padding:0}
button.btn.btn-toolbar.width-100-.bold.yl-ModalClick {background-color: #e8ef92;color: #ef5285;text-shadow: 0px 1px 2px gray}	/*粮情页面左侧选择仓房按钮*/
button.btn.btn-toolbar.width-100-.bold.YL-ModalClick {background-color: #e8ef92;color: #ef5285;text-shadow: 0px 1px 2px gray}   /*粮情页面左侧选择仓房按钮*/
.main .right {background-color: white;}

/*foot styles*/
.foot {background-color: #e8ef92; border-top: #e8ef92 1px solid;}

/*fonts*//*雅黑的调用{font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu} */
.top .navbar .navbar-inner .container .nav li a {color:white; text-shadow: 0px 1px 2px gray;}
.top .navbar .navbar-inner .container .nav li a.active {color:#8bca31;text-shadow: 0px 1px 2px white;border:#e9ee92 1px solid; background-color:#e9ee92;}
.top .navbar .navbar-inner .container .nav li a:hover {color:white; border:#e9ee92 1px solid; background-color:#e9ee92;}
.main .left ul.menu-group li.active a {color:#46bb60;text-shadow: 0px 1px 2px white;}
.main .left ul.menu-group li a {color:white;text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);}
.main .left ul.menu-group li a:hover {color:#46bb60;text-shadow: 0px 1px 2px white;}
.foot .fl {color:#ef5285;text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5)}
.foot .fr {color:#ef5285;text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5)}
.nav-pills>li>a{color:#8bca31}
.nav>li>a:focus, .nav>li>a:hover{color:white;background-color:#8bca31}

/*button*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color:#8bca31}
.panel-default>.panel-heading{color:#46bb60;background-color:#d3ecaf;border-color:#8bca31}
.btn-primary{background-color:#8bca31;border-color:#8bca31}
.btn-primary:hover{background-color:#46bb60;border-color:#46bb60}
.blue {color:#46bb60}
.btn-info{background-color:#8bca31;border-color:#8bca31}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info{color:#46bb60;background-color: #e8ef92;border-color: #e8ef92}

/*details*/
.panel-default{border-color:#8bca31}
.form-control{border:1px solid #8bca31}
.btn-default{border-color:#8bca31}
#statusNet {color:#46bb60 !important}

